# PG Secrets
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=quick_wallet
POSTGRES_PORT=5432

# Backend
PORT=3000
DATABASE_URL=postgres://admin:your_password_here@localhost:5432/quick_wallet

# Tokens
ACCESS_TOKEN=your_jwt_access_secret_key
REFRESH_TOKEN=your_jwt_refresh_secret_key

# Redis
REDIS_URL=redis://localhost:6379
